* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.wrapper {
  background: url("../images/bg.jpg") center/cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  min-height: 500px;
  width: 400px;
  margin: 30px;
  text-align: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  box-shadow: 20px, 20px, 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  animation: 3s cubic-bezier(0.16, 1, 0.3, 1) card;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-direction: column;
  padding: 0px 15px;
}

.card-title {
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 400;
}

.card-desc {
  font-size: 1.5rem;
  padding-top: 20px;
}

.read-more {
  padding-top: 20px;
}

.read-more a {
  padding: 8px 20px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
}

@keyframes card {
  from {
    transform: translateY(100%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
